/* Bootstrap. */
@import "../../bower_components/bootstrap/less/alerts.less";
@import "../../bower_components/bootstrap/less/badges.less";
@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "../../bower_components/bootstrap/less/breadcrumbs.less";
@import "../../bower_components/bootstrap/less/button-groups.less";
@import "../../bower_components/bootstrap/less/buttons.less";
@import "../../bower_components/bootstrap/less/carousel.less";
@import "../../bower_components/bootstrap/less/close.less";
@import "../../bower_components/bootstrap/less/code.less";
@import "../../bower_components/bootstrap/less/component-animations.less";
@import "../../bower_components/bootstrap/less/dropdowns.less";
@import "../../bower_components/bootstrap/less/forms.less";
@import "../../bower_components/bootstrap/less/glyphicons.less";
@import "../../bower_components/bootstrap/less/grid.less";
@import "../../bower_components/bootstrap/less/input-groups.less";
@import "../../bower_components/bootstrap/less/jumbotron.less";
@import "../../bower_components/bootstrap/less/labels.less";
@import "../../bower_components/bootstrap/less/list-group.less";
@import "../../bower_components/bootstrap/less/media.less";
@import "../../bower_components/bootstrap/less/mixins.less";
@import "../../bower_components/bootstrap/less/modals.less";
@import "../../bower_components/bootstrap/less/navbar.less";
@import "../../bower_components/bootstrap/less/navs.less";
@import "../../bower_components/bootstrap/less/normalize.less";
@import "../../bower_components/bootstrap/less/pager.less";
@import "../../bower_components/bootstrap/less/pagination.less";
@import "../../bower_components/bootstrap/less/panels.less";
@import "../../bower_components/bootstrap/less/popovers.less";
@import "../../bower_components/bootstrap/less/print.less";
@import "../../bower_components/bootstrap/less/progress-bars.less";
@import "../../bower_components/bootstrap/less/responsive-utilities.less";
@import "../../bower_components/bootstrap/less/scaffolding.less";
@import "../../bower_components/bootstrap/less/tables.less";
@import "../../bower_components/bootstrap/less/theme.less";
@import "../../bower_components/bootstrap/less/thumbnails.less";
@import "../../bower_components/bootstrap/less/tooltip.less";
@import "../../bower_components/bootstrap/less/type.less";
@import "../../bower_components/bootstrap/less/utilities.less";
@import "../../bower_components/bootstrap/less/variables.less";
@import "../../bower_components/bootstrap/less/wells.less";

/* Colors.

Color variations from 0 (darkest, typically black) to 3 (lightest,
typically white).

*/
@color_main_0: #000000;
@color_main_1: #005b7d;
@color_main_2: #00a6e3;
@color_main_3: #ffffff;
@color_grey_2: #dbdbdb;

/* Fonts. */
@font_standard: 'Raleway', sans-serif;
@font_title: 'Nixie One', cursive;


/* Layout. */
@navbar_main_height: 50px;
@navbar_main_border_top: 1px;
@navbar_main_border_bottom: 1px;

/* Libraries. */
.fullsize-background {
  background: no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
}

.no-grayscale {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

html {
  height: 100%;
}

body {
  position: relative;
  z-index: 0;
  height: 100%;
  background-color: @color_grey_2;
  color: #ffffff;
  font-family: @font_standard;
}

body > .container-fluid {
  height: 100%;
}

#container {
  position: relative;
  z-index: 1;
}

#navbar_main {
  position: absolute;
  z-index: 101;
  width: 100%;
  top: 658px - @navbar_main_height - @navbar_main_border_top - @navbar_main_border_bottom - 50px;
  background-color: transparent;
  background-image: none;
  border: 0; 
  .box-shadow(none);
  a {
    font-size: 1.4em;
    line-height: 30px;
    color: @color_main_3;
  }
  &.sticky {
    position: fixed;
    top: 0;
  }
  &.sticky-start {
    -moz-box-shadow: 0px 2px 6px 0px #333333;
    -webkit-box-shadow: 0px 2px 6px 0px #333333;
    -o-box-shadow: 0px 2px 6px 0px #333333;
    box-shadow: 0px 2px 6px 0px #333333;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#333333, Direction=180, Strength=6);
  }
  &.sticky-complete {
    background-color: @color_main_2;
  }
}

#navbar_main_bg {
  display:block;
  position: relative;
  z-index: 100;
  height: 50px;
  &.sticky {
    position: fixed;
    width: 100%;
    top: 0;

  }
}

section {
  .fullsize-background;
  padding-top: 50px;
  padding-bottom: 50px;

  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #f0f0f0 transparent #999999 transparent;

  h2 {
    color: @color_main_3;
    font-size: 6em;
    font-family: @font_title;
  }

  h3 {
    margin: 0;
    font-family: @font_title;
  }
}

section#accueil {
  position: relative;
  z-index: 0;
  height: 100%;
  border-top-width: 0;
  background-image: url('../img/accueil-bg.jpg');
  background-attachment: fixed;
  .trame {
    z-index: 1;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url('../img/trame-45-white.png');
    background-repeat: repeat;
    opacity: 0.3;
  }
  h1 {
    z-index: 2;
    position: relative;
    text-align: center;
    @media (min-width: @screen-xs-min) {
      padding-top: 50px;
    }
    @media (min-width: @screen-sm-min) {
      padding-top: 93px;
    }
    @media (min-width: @screen-md-min) {
      padding-top: 120px;
    }
    @media (min-width: @screen-lg-min) {
      padding-top: 145px;
    }
  }
  .lead {
    text-align: center;
    color: @color_main_3;
  }
}

section#espace {
  border-top-width: 0;
  background-color: @color_main_2;
  .services ul {
    list-style: none;
    li {
      padding: 0.5em 0;
      font-size: 120%;
    }
  }
  .galleria {
    padding: 0;
    height: 600px;
    img {height: 0;}
    .galleria-container {
      background-color: transparent;
      .galleria-stage {
        top: 0;
        left: 0;
        right: 0;
        border: 1px solid #ffffff;
      }
      .galleria-thumbnails-container {
        left: 0;
        right: 0;
        .galleria-image {
	  border-color: #ffffff;
        }
      }
    }
  }
}

section#coworkers {
  background-color: @color_grey_2;
  h2 {
    color: @color_main_1;
  }
  #coworkers_list {
    z-index: 0;
    .user {
      .make-md-column(2);
      padding: 0px;
      position: relative;
      .details {
        position: absolute;
        z-index: 1;
        bottom: 0;
	width: 100%;
        padding: 3px;
        border-width: 1px 0 0 0;
        border-color: rgba(48, 48, 48, 0.4);
        border-style: solid;
        text-align: center;
        background: rgba(0, 0, 0, 0.4);
        line-height: 100%;
        .name {
          font-size: 90%;
          font-weight: bold;
	  margin-bottom: 0px;
        }
        .job {
          font-size: 80%;
          margin: 0;
        }
      }
      img {
        width: 100%;
        height: 100%;
        .grayscale;
        z-index: 0;
        &:hover {
          .no-grayscale;
	}
      }
    }
  }
}

section#tarifs {
  background-color: @color_main_1;
  table {
    font-size: 120%;
    td, th {
      vertical-align: middle;
      &.subscription, &.frequency {
	text-align: center;
      }
    }
  }
  .legal-notices {
    font-style: italic;
  }
}

section#contact {
  background-color: @color_grey_2;
  color: @color_main_1;
  h2 {
    color: @color_main_1;
  }
}
