/* Libraries. */
@import "theme";
@import "../../bower_components/fontawesome/scss/font-awesome";
@import "../../bower_components/bootstrap/scss/bootstrap";


/* Utilities. */
@mixin animated-transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin show-size {
  @include media-breakpoint-up(xs) { background-color: purple; }
  @include media-breakpoint-up(sm) { background-color: cyan; }
  @include media-breakpoint-up(md) { background-color: yellow; }
  @include media-breakpoint-up(lg) { background-color: orange; }
  @include media-breakpoint-up(xl) { background-color: red; }
}

@mixin grayscale($level) {
  -webkit-filter: grayscale($level);
  -moz-filter: grayscale($level);
  -ms-filter: grayscale($level);
  -o-filter: grayscale($level);
  filter: grayscale($level);
  //filter: gray; /* IE 6-9 */
}


/* Macro blocks. */
html {
  position: relative;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 100px;  // Footer height + spacer.
  background-color: $color_grey_3;
  font-family: $font_standard;
}

section {
  padding-top: $header_height;
}

header {
  nav {
    @extend .navbar;
    @extend .navbar-light;
    @extend .navbar-fixed-top;
    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 0;
    }
    padding: 0;
    border-width: 0 0 0 0;
    border-style: solid;
    border-color: $color_grey_2;
    background-color: rgba(#fff, 1);
    //@include show-size;
    > div {
      @include make-container();
      @include make-container-max-widths();
      #logo {
        @extend .navbar-brand;
	height: $header_height;
	line-height: $header_height;
      }
      button {
	@include media-breakpoint-up(lg) { display: none !important; }
        @extend .navbar-toggler;
	float: right;
	padding: 0 10px;
	height: $header-height;
	line-height: $header_height;
	color: $color_grey_1;
      }
      ul {
        @extend .nav;
        @extend .navbar-nav;
	@include animated-transition(all);
        @include media-breakpoint-down(lg) {
	  display: none;
	  position: absolute;
	  top: 100%;
	  background-color: #fff;
	  left: 0;
	  width: 100%;
	  height: 0px;
	  text-align: center;
	  li {
	    float: none;
	    a {
	      border-width: 0;
	    }
	  }
        }
	&.in {
          @include media-breakpoint-down(lg) {
	    height: auto;
	  }
	}
	@include media-breakpoint-up(lg) {
	  display: block !important;
	  float: right;
	  width: auto;
          position: relative;
	  background-color: #fff;
	  height: auto;
	  li {
            float: left;
	    a {
	      border-width: 0 0 4px 0;
	    }
	  }
        }
        li {
          @extend .nav-item;
	  margin: 0 0 0 0 !important;
	  padding: 0;
          height: $header_height;
          line-height: $header_height;
          a {
            @extend .nav-link;
            line-height: $header_height - 4px;
	    margin: 0;
            padding: 0 20px;
	    border-style: solid;
	    border-color: transparent;
	    &:hover {
              border-color: $color_main_1;
	    }
	    &.active {
              border-color: $color_main_2;
              color: $color_main_1;    
	    }
          }
	  &.dropdown {
	    > a {
	      @extend .dropdown-toggle;
	    }
	    > div {
	      @extend .dropdown-menu;
	      padding-top: 0px;
	      a {
	        @extend .dropdown-item;
		margin-left: 0;
	      }
	      hr {
	        @extend .dropdown-divider;
		border-width: 0;
	      }
	    }
	  }
        }
      }
    }
  }
}

footer {
  @include media-breakpoint-down(md) { position: relative; }
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: 1px;
    left: 0;
  }
  margin: 0;
  padding: 0;
  width: 100%;
  border-width: 0;
  nav {
    @extend .navbar;
    @extend .navbar-dark;
    padding: 0;
    border-width: 0px 0 0px 0;
    border-style: solid;
    border-color: transparent;
    background-color: $color_main_2;
    color: $color_main_3;
    > div {
      @include make-container();
      @include make-container-max-widths();
      #copyright {
        @extend .navbar-brand;
	padding: 0;
	margin: 0;
	height: $footer_height;
	line-height: $footer_height;
      }
      ul {
        @extend .nav;
        @extend .navbar-nav;
	float: right;
        li {
          @extend .nav-item;
	  margin: 0 0 0 0 !important;
	  padding: 0;
          height: $footer_height;
          line-height: $footer_height;
          a {
            @extend .nav-link;
            line-height: $footer_height;
	    margin: 0;
            padding: 0 10px;
	    &:hover {}
	    &.active {
              color: $color_main_1;
	    }
          }
        }
      }
    }
  }
}

section {
  padding-top: $header_height;
  @include make-container();
  @include make-container-max-widths();
}

#home section {
  > div {
    @include make-row();
    @extend .card-group;
    article {
      @include make-col();
      @include media-breakpoint-down(md) { @include make-col-span(12); }
      @include media-breakpoint-up(md) { @include make-col-span(6); }
      @include media-breakpoint-up(xl) { @include make-col-span(3); }
      @extend .card;
      > div {
        @extend .card-block;
	h2 {
	  font-size: 1.5rem;
	}
	p {
	  font-size: 0.8rem;
	}
      }
    }
  }
}
